/* font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
/* universal css */
.container {
    width: 90%;
    margin: 0 auto;
}
.overlay {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
}
h1 {
    font-size: 4vw;
}
h2 {
    font-size: 3vw;
}
h3 {
    font-size: 2vw;
}
.dec_heading {
    color: #02B290;
    text-decoration: underline;
    text-underline-offset: 30%;
}
.dec_heading span {
    color: #000;
}
.btn {
    background: transparent;
    padding: 1vw 3vw;
    border: 2px solid #02B290;
    color: #02B290!important;
    font-weight: bold;
}
.btn:hover {
    background-color: #02B290;
    color: #fff!important;
}
.btn-2 {
    background: transparent;
    padding: 1vw 3vw;
    border: 2px solid #E83A59;
    color: #E83A59!important;
    font-weight: bold;
    margin: 5vh 0;
}
.btn-2:hover {
    background-color: #E83A59;
    color: #fff!important;
}
/* welcome section CSS */
#welcome-area {
    background: url('img/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
    background-attachment: fixed;
}

/* nav CSS */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 2vh 5%;
    border-bottom: 2px solid #02B290;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo-area img {
    width: 8vw;
}
.menu-area ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}
.menu-area a {
    text-decoration: none;
    color: white;
    margin: 0 2vw;
}
.menu-area a:hover {
    /* color: #24a7ff; */
    color: #02B290;
}

.menu-area .sub-menu-items {
    display: none;
    background-color: black;
}
.sub-menu {
    position: relative;
}
.menu-area .sub-menu:hover .sub-menu-items {
    display: block;
    position: absolute;
    left: 5%;
}
.sub-menu-items li {
    border-bottom: 3px solid #24a7ff;
    line-height: 1.5;
}
.sub-menu-items li:nth-child(1){
    margin-top: 2vw;
}

/* welcome content css */
.welcome-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* background: #252734; */
    height: 100vh;
    margin-top: 10vh;
}

.greetings-img img {
    width: 100%;
    border-radius: 10px;
    height: 70vh;
}
.greetings-words h3 {
    font-size: 3vw;
    margin: 1vw 0;
}
.greetings-words h1 {
    font-size: 4vw;
    margin: 0;
}
/* Skills Area CSS */
.my-skills-area {
    padding: 10vh 0;
    text-align: center;
}
.all-skills {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
}
.all-skills .single-skill  {
    padding: 1vw;
    margin: 1vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    border: 1px solid #24a7ff;
}
.single-skill i {
    font-size: 5vw;
}
/* My Recent Projects Section CSS */
#recent-porject-section {
    background: #f0e68c;
}
.my-recent-projects {
    padding: 10vh 0;
    text-align: center;
}
.all-projects{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
}
.single-project img {
    width: 100%;
}
.single-project {
    margin: 1vw;
    background-color: #fff;
    padding-bottom: 1vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
/* .single-project:hover {
    transform: scale(1.1);
    transition-duration: .7s;
} */
/* My Recent Blog Section CSS */
.my-recent-blog {
    padding: 10vh 0;
    text-align: center;
}
.all-blogs{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
}
.single-blog {
    margin: 1vw;
    background-color: #fff;
    padding: 1vw;
    text-align: left;
}
.single-blog img {
    width: 100%;
}
/* Call to Action Area CSS */
#call-to-action {
    background: url('img/call-to-action-bg.jpg');   
    background-size: cover;
    height: 50vh;
    background-attachment: fixed;
}
.call-to-action-area {
    text-align: center;
    padding: 10vh 0;
    color: #fff;
}
/* Contact Me section CSS */
#contact-me {
    padding: 10vh 5%;
    text-align: center;
}
.contact-me-area {
    display: flex;
    align-items: center;
    gap: 5vw;
    padding: 5vh 0;
}
.form-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.form-content h3 {
    margin: 0;
}
.form-content input,textarea {
    padding: 5px;
    border: 1px solid #02B290;
}
.form-img {
    width: 60%;
}
.form-img img {
    width: 100%;
}

